.blog-detail-page {
  // padding: 50px 20px;
  padding-top: 40px;
  font-family: "Inter", sans-serif;
  // min-height: 100vh;


  .loading {
    text-align: center;
    font-size: 20px;
    color: #777;
    margin-top: 120px;
  }

  .blog-content {
    display: flex;
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 35px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.08);
    overflow: hidden;

    .left-side {
      flex: 1;
      max-width: 450px;
      aspect-ratio: 16 / 9;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    
      img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        display: block;
        transition: 0.3s ease;
    
      
      }
    }
    

    .right-side {
      flex: 2;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #111;
        line-height: 1.4;
      }

      .description {
        font-size: 18px;
        line-height: 1.75;
        color: #333;
        margin-bottom: 30px;
      }

      .author-date {
        display: flex;
        gap: 15px;
        font-size: 15px;
        color: #666;

        span {
          background: #f0f0f0;
          padding: 8px 14px;
          border-radius: 30px;
          font-weight: 500;
        }
      }
    }
  }

  @media (max-width: 900px) {
    .blog-content {
      flex-direction: column;
      padding: 25px;

      .left-side {
        width: 100%;
        height: 280px;
        max-width: 100%;
      }

      h2 {
        font-size: 26px !important;
      }

      .description {
        font-size: 16px !important;
      }
    }
  }
}
