@mixin media($max) {
  @media (max-width: $max) {
    @content;
  }
}

.overallProduct {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

  .mainWrapper {
    max-width: 1440px;
    width: 100%;
    margin-top: 25px;

    h1 {
      font-weight: 700;
      font-size: 50px;
      color: black;
      text-align: center;
    }


    .categoryPart {
      display: flex;
      flex-wrap: nowrap; 
      justify-content: space-between; 
      gap: 12px;
      padding: 0 5px;
      overflow-x: auto; 
      -webkit-overflow-scrolling: touch;
      scroll-behavior: smooth;

      .firstCat {
        flex: 0 0 auto; 
        display: flex;
        border: 1px solid #ccc;
        gap: 6px;
        align-items: center;
        padding: 10px 18px;
        cursor: pointer;
        border-radius: 30px;
        background: white;
        transition: 0.3s;

        &:hover {
          background: #f4f4f4;
        }

        img {
          width: 24px;
          height: 24px;
        }
      }

      
      &::-webkit-scrollbar {
        display: none;
      }
    }


    @include media(1024px) {
      .categoryPart {
        justify-content: space-between; 
      }
    }

    @include media(768px) {
      .categoryPart {
        justify-content: flex-start;
        gap: 10px;
        padding-left: 10px; 
      }
    }

    @include media(480px) {
      .categoryPart {
        gap: 8px;
        padding-left: 8px;
      }
    }

   
    .productsGrid {
      margin-top: 50px;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      width: 100%;

      .productCard {
        max-width: 295px;
        margin: 0 auto;

        .imageWrapper {
          width: 100%;
          height: 298px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
          padding: 25px 23px;
        }

        p {
          font-weight: 700;
          font-size: 20px;
          color: black;
        }

        .rating {
          margin-top: 10px;
        }

        .bottomPart {
          margin-top: 8px;

          h4 {
            color: black;
            font-size: 24px;
            font-weight: 700;
          }

          .cartBtn {
            &:hover {
              transform: scale(1.4);
              transition: all 100ms ease-in-out;
            }
          }
        }
      }
    }

 
    @include media(1024px) {
      .productsGrid {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @include media(768px) {
      .productsGrid {
        grid-template-columns: repeat(2, 1fr);
      }

      .categoryPart {
        justify-content: flex-start; 
        gap: 10px;
      }
    }

    @include media(480px) {
      .productsGrid {
        grid-template-columns: repeat(1, 1fr);
      }

      .categoryPart {
        gap: 8px;
      }
    }
  }
}
