@mixin media($max) {
  @media (max-width: $max) {
    @content;
  }
}

.overallProduct {
  display: flex;
  justify-content: center;
  margin-top: 140px;

  .mainWrapper {
    max-width: 1440px;
    width: 100%;
    padding: 0 20px;

    h1 {
      font-weight: 700;
      font-size: 50px;
      color: black;
      text-align: center;

      @include media(992px) {
        font-size: 40px;
      }

      @include media(576px) {
        font-size: 32px;
      }

      @include media(380px) {
        font-size: 26px;
      }
    }

    .categoryPart {
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      padding: 0 5px;

      .firstCat {
        border: 1px solid #ccc;
        display: flex;
        gap: 6px;
        align-items: center;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 30px;
        transition: 0.3s;
        white-space: nowrap;
        padding-right: 32px;

        &:hover {
          background: #f4f4f4;
        }

        p {
          margin-bottom: 0;
          font-size: 16px;

          @include media(576px) {
            font-size: 14px;
          }

          @include media(380px) {
            font-size: 12px;
          }
        }

        img {
          width: 24px;
          height: 24px;

          @include media(576px) {
            width: 20px;
            height: 20px;
          }
        }
      }

   
      @include media(992px) {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        flex-wrap: nowrap;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          display: none;
        }

        justify-content: flex-start;
      }
    }


    .productsGrid {
      margin-top: 70px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      @include media(1290px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @include media(992px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include media(576px) {
        grid-template-columns: 1fr;
        gap: 15px;
      }

      .productCard {
        max-width: 295px;
        margin: 0 auto;

        .imageWrapper {
          width: 100%;
          height: 298px;
          // background-color: #e9f8ec;
          border: 1px solid #ccc;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
          padding: 20px;

          img {
            width: 100%;
            height: auto;
            object-fit: contain;
          }

          @include media(576px) {
            height: 220px;
          }
        }

        p {
          font-weight: 700;
          font-size: 20px;
          margin-bottom: 0;

          @include media(576px) {
            font-size: 16px;
          }

          @include media(380px) {
            font-size: 14px;
          }
        }

        .rating {
          margin-top: 10px;
          font-size: 14px;

          @include media(576px) {
            font-size: 12px;
          }
        }

        .bottomPart {
          margin-top: 8px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          h4 {
            color: black;
            font-size: 24px;
            font-weight: 700;

            @include media(576px) {
              font-size: 20px;
            }

            @include media(380px) {
              font-size: 18px;
            }
          }

          .cartBtn {
            font-size: 18px;

            &:hover {
              transform: scale(1.3);
              transition: all 300ms ease-in-out;
            }

            @include media(576px) {
              font-size: 16px;
            }
          }
        }
      }
    }

    .xello {
      margin-top: 70px;
      display: flex;
      justify-content: center;

      .lastBtn {
        width: 260px;
        height: 52px;
        border: 1px solid #245d30;
        color: #245d30;
        border-radius: 62px;
        transition: 0.2s;

        &:hover {
          background: #245d30;
          color: white;
        }

        @include media(576px) {
          width: 200px;
          height: 45px;
          font-size: 14px;
        }

        @include media(380px) {
          width: 170px;
          height: 40px;
          font-size: 12px;
        }
      }
    }
  }
}
